{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href=" {% static "boxicons\css\boxicons.min.css" %}  " />
    <link href=" {% static "css/output.css" %} " rel="stylesheet" />
  </head>
  <body class="bg-[#1f1f1f]">
    <nav
      class="flex flex-row justify-between text-[#e5e5e5] border-b-[1.5px] p-7 max-sm:p-5"
    >
      <div class="ml-10 text-2xl capitalize md:mr-5 max-sm:ml-1">
        projecthanif
      </div>
      <ul class="flex space-x-8 mr-14 max-md:hidden max-sm:hidden">
        <li>
          <a href="{% url "home" %}" class="hover:text-teal-300">Home</a>
        </li>
        <li>
          <a href="{% url "about" %}" class="hover:text-teal-300">About</a>
        </li>
        <li>
          <a href="{% url "project" %}" class="hover:text-teal-300">Projects</a>
        </li>
        <li>
          <a href="{% url "tech-stack" %}" class="hover:text-teal-300">Tech Stack</a>
        </li>
        <li>
          <a href="{% url "contact" %}" class="hover:text-teal-300">Contact</a>
        </li>
      </ul>
      <div class="hidden max-sm:flex" id="menu">
        <i class="bx bx-menu fa-2x"></i>
      </div>
      <ul
        class="hidden w-full *:pt-3 bg-[#1f1f1f] absolute right-0 p-3 justify-center"
        id="navbar"
      >
        <div class="hidden max-sm:flex" id="close">
          <i class="text-red-700 bx bx-x fa-2x"></i>
        </div>
        <li>
          <a href="{% url "home" %}" class="hover:text-teal-300">Home</a>
        </li>
        <li>
          <a href="{% url "about" %}" class="hover:text-teal-300">About</a>
        </li>
        <li>
          <a href="{% url "project" %}" class="hover:text-teal-300">Projects</a>
        </li>
        <li>
          <a href="{% url "tech-stack" %}" class="hover:text-teal-300">Tech Stack</a>
        </li>
        <li>
          <a href="{% url "contact" %}" class="hover:text-teal-300">Contact</a>
        </li>
      </ul>
    </nav>
    {% block content %}
    {% endblock content %}
  </body>
  <script src=" {% static "js/app.js" %} "></script>
</html>
